# IDE settings
.idea/
.vscode/
*.code-workspace

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Model checkpoints and data files
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.checkpoint
*.tar


# Build artifacts
build/
dist/
*.egg-info/

# Other
.DS_Store

# Checkpoints folder
checkpoints/**
!checkpoints/**/